@model HealthZone.Models.Nalaz

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nalaz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dijagnoza" class="control-label"></label>
                <input asp-for="Dijagnoza" class="form-control" />
                <span asp-validation-for="Dijagnoza" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Terapija" class="control-label"></label>
                <input asp-for="Terapija" class="form-control" />
                <span asp-validation-for="Terapija" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TerminID" class="control-label"></label>
                <input asp-for="TerminID" class="form-control" />
                <span asp-validation-for="TerminID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Termin" class="control-label"></label>
                <input asp-for="Termin" class="form-control" />
                <span asp-validation-for="Termin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PacijentID" class="control-label"></label>
                <input asp-for="PacijentID" class="form-control" />
                <span asp-validation-for="PacijentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pacijent" class="control-label"></label>
                <input asp-for="Pacijent" class="form-control" />
                <span asp-validation-for="Pacijent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
