@model HealthZone.Models.Termin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Termin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TerminId" />
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrijeme" class="control-label"></label>
                <input asp-for="Vrijeme" class="form-control" />
                <span asp-validation-for="Vrijeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorID" class="control-label"></label>
                <select asp-for="DoktorID" class="form-control" asp-items="ViewBag.DoktorID"></select>
                <span asp-validation-for="DoktorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacijentID" class="control-label"></label>
                <select asp-for="PacijentID" class="form-control" asp-items="ViewBag.PacijentID"></select>
                <span asp-validation-for="PacijentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UslugaID" class="control-label"></label>
                <select asp-for="UslugaID" class="form-control" asp-items="ViewBag.UslugaID"></select>
                <span asp-validation-for="UslugaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
